{
        "parser": "@typescript-eslint/parser",
        "extends": ["plugin:@typescript-eslint/recommended"],
        "parserOptions": { "ecmaVersion": 2018, "sourceType": "module"},
        "rules": {
                "semi": ["error", "always"],
                "simple-import-sort/imports": "error",
                "simple-import-sort/exports": "error",
                "no-unused-vars":["off",{
                        "vars":"all",
                        "args":"after-used",
                        "caughtErrors":"all"
                }]
        },
        "plugins": ["simple-import-sort"]
}